altgraph==0.17
appdirs==1.4.4
asgiref==3.4.1
certifi==2021.5.30
chardet==4.0.0
cssselect2==0.4.1
distlib==0.3.1
Django==3.2.10
django-markdown==0.8.4
django-multiselectfield==0.1.12
filelock==3.0.12
gunicorn==20.1.0
idna==2.10
importlib-metadata==4.9.0
inputimeout==1.0.4
lxml==4.6.3
macholib==1.14
Markdown==3.3.6
optional-django==0.1.0
Pillow==8.2.0
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
PySimpleGUI==4.45.0
pytz==2021.3
reportlab==3.5.59
requests==2.25.1
six==1.15.0
sqlparse==0.4.2
svglib==1.0.1
tabulate==0.8.9
tinycss2==1.1.0
typing-extensions==3.7.4.3
urllib3==1.26.5
virtualenv==20.3.1
webencodings==0.5.1
whitenoise==5.2.0
zipp==3.4.0
