{% extends "encyclopedia/layout.html" %}

{% block title %}
    View
{% endblock %}

{% block body %}


<form method="POST" action="{% url 'edited' title %}">
    {% csrf_token %}
    <h1><label  >{{title}}</label></h1>
    <textarea style="height: 400px; width: 800px; padding-left: 2;" name="mdcontent" class="form-control rounded-0" 
    value="{{mdcontent}} ">{{mdcontent}}</textarea> 
    <br>
    <input type="submit" value="Edit" class="btn btn-primary" >
</form>
{% endblock %}